<div class="editor">
    <%= javascript_pack_tag 'indexEditor' %>
</div>

<div class="options">
    <%= render 'form', toy: @toy %>

    <br>
    <%
=begin%>
 <%= button_to 'Show', @toy %>  
<%
=end%>
    <%= button_to 'Back', toys_path, method: "get" %>
</div>
