<div class="options">
    <%= render 'form', toy: @toy %>

    <br>
    <%
=begin%>
 <%= button_to 'Show', @toy %>  
<%
=end%>
    <%= link_to 'Back', toys_path %>
</div>

<div class="editor">
    <%= javascript_pack_tag 'Editor' %>
</div>