<div class="options">
  <div class="index-controls-container">
    <div class="index-page">
        <%= render 'form_new', toy: @toy %>
    </div>
  </div>
</div>

<div class="editor">
    <%= javascript_pack_tag 'Editor' %>
</div>

<section id="loading-screen">
    <div id="loader"></div>
</section>

<!-- <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            placement : 'top',
            trigger : 'hover'
        });
    });
</script> -->
