<div class="upload-controls-container">
    <div class="index-page">
        <%= render 'form', head_model: @head_model %>
        <hr>
        <%= button_to 'Back', pages_upload_model_path, method: :get, :id => "back-btn" %>
    </div>
</div>
