<p id="notice"><%= notice %></p>

<p>
  <strong>Head file:</strong>
  <%= @head_model.head_file %>
</p>

<%= link_to 'Edit', edit_head_model_path(@head_model) %> |
<%= link_to 'Back', head_models_path %>
