<%= simple_form_for ([@toy, @toy.ratings.build]) do |f| %>


<div class="row rating-form">
    <div class="col">
        <%= f.input :description, :id => "rate-desc", :class => "rating-description" %>        
    </div>
    <div class="col">
        <%= f.input :value, :class => "rating-value", :placeholder => "0/5" %>
    </div>
    <%= f.submit "leave a rating", :id => "rating-btn", :class => "btn submit-button" %>
</div>



<% end %>