<div class="details">
<br><hr><br>
    <div class="row">
        <div class="col-lg-30">
            <%= simple_form_for([@toy, @rating]) do |f| %>
            <div class="row rating-form">
                <div class="col">
                    <%= f.input :description, :id => "rate-desc", :class => "rating-description", input_html: { maxlength: 250 } %>
                </div>
                <div class="col">
                    <%= f.input :value, :class => "rating-value" %>
                </div>
                <%= f.submit :id => "rating-btn", :class => "btn submit-button" %>
            </div>
            <% end %>
        </div>
    </div>
</div>