<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div class="options">
            <div class="index-page">
                <hr>
                <div class="buttons">
                    <button class="btn" id="headl" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Head 
                    <button class="btn" id="headr" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button><br>
                    Up / Down
                    <input type="range" min="-4" max="3" value="1.5" class="slider" id="headup" step="0.1">
                    Left / Right
                    <input type="range" min="-4" max="4" value="0" class="slider" id="headleft" step="0.1">
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="armsl" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Arms 
                    <button class="btn" id="armsr" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                    Left Arm<br>
                    Up / Down
                    <input type="range" min="-1.5" max="5" value="1.5" class="slider" id="larmup" step="0.1">
                    Left / Right
                    <input type="range" min="-4" max="4" value="0" class="slider" id="larmleft" step="0.1">
                    Right Arm<br>
                    Up / Down
                    <input type="range" min="-1.5" max="5" value="1.5" class="slider" id="rarmup" step="0.1">
                    Left / Right
                    <input type="range" min="-4" max="4" value="0" class="slider" id="rarmleft" step="0.1">
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="torsol" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Torso 
                    <button class="btn" id="torsor" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                    Up / Down
                    <input type="range" min="-4" max="3" value="1.5" class="slider" id="torsoup" step="0.1">
                    Left / Right
                    <input type="range" min="-4" max="4" value="0" class="slider" id="torsoleft" step="0.1">
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="legsl" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Legs 
                    <button class="btn" id="legsr" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                    Left Leg<br>
                    Up / Down
                    <input type="range" min="-1.5" max="5" value="1.5" class="slider" id="llegup" step="0.1">
                    Left / Right
                    <input type="range" min="-4" max="4" value="0" class="slider" id="llegleft" step="0.1">
                    Right Leg<br>
                    Up / Down
                    <input type="range" min="-1.5" max="5" value="1.5" class="slider" id="rlegup" step="0.1">
                    Left / Right
                    <input type="range" min="-4" max="4" value="0" class="slider" id="rlegleft" step="0.1">
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="generate-pattern" type="button">Generate Pattern</button>
                </div>
                <br/><br/>
                <div class="editor">
                    <%= javascript_pack_tag 'indexEditor' %>
                </div>
            </div>
        </div>
    </body>
</html>
