<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div class="options">
            <div class="index-page">
                <hr>
                <div class="buttons">
                    <button class="btn" id="headl" type="button">headl</button> 
                    Head 
                    <button class="btn" id="headr" type="button">headr</button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="armsl" type="button">armsl</button> 
                    Arms 
                    <button class="btn" id="armsr" type="button">armsr</button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="torsol" type="button">torsol</button> 
                    Torso 
                    <button class="btn" id="torsor" type="button">torsor</button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="legsl" type="button">legsl</button> 
                    Legs 
                    <button class="btn" id="legsr" type="button">legsr</button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="generate-pattern" type="button">Generate Pattern</button>
                </div>
                <br/><br/>
                <div class="editor">
                    <%= javascript_pack_tag 'indexEditor' %>
                </div>
            </div>
        </div>
    </body>
</html>
