<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div class="options">
            <div class="index-page">
                <hr>
                <div class="buttons">
                    <button class="btn" id="headl" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Head 
                    <button class="btn" id="headr" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="armsl" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Arms 
                    <button class="btn" id="armsr" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="torsol" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Torso 
                    <button class="btn" id="torsor" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="legsl" type="button"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></button> 
                    Legs 
                    <button class="btn" id="legsr" type="button"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <hr>
                <div class="buttons">
                    <button class="btn" id="generate-pattern" type="button">Generate Pattern</button>
                </div>
                <br/><br/>
                <div class="editor">
                    <%= javascript_pack_tag 'indexEditor' %>
                </div>
            </div>
        </div>
    </body>
</html>
