<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div class="options">
            <hr>
            <div class="buttons"><button id="headl" type="button">headl</button> Head <button id="headr" type="button">headr</button></div><hr>
            <div class="buttons"><button id="armsl" type="button">armsl</button> Arms <button id="armsr" type="button">armsr</button></div><hr>
            <div class="buttons"><button id="torsol" type="button">torsol</button> Torso <button id="torsor" type="button">torsor</button></div><hr>
            <div class="buttons"><button id="legsl" type="button">legsl</button> Legs <button id="legsr" type="button">legsr</button></div><hr>
            <div class="buttons"><button type="button">Generate Pattern</button>
        </div>
        <div class="editor">
            <%= javascript_pack_tag 'indexEditor' %>
        </div>
    </body>
</html>
