@charset "utf-8";

@import "reset/normalize";

@import "selectize";
@import "datetime_picker";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";

@-webkit-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@-moz-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@-o-keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

@keyframes backgroundAnimate {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

#back {
    background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 500s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#front {
    background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 300s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 300s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 300s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}