/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

:root {
    --primary-colour: #2C2A4A;
    --secondary-colour: #7FDEFF;
    --tertiary-colour: rgb(42, 154, 173);
}

.editor{
    position: absolute;
}

body{
    background-color:  #252525; 
    overflow-x: hidden;
}

.dropdown-menu{
    background-color: rgb(61, 61, 61);
    color: white;
}

.navbar {
    z-index: 999;
    padding: 10px;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    position: fixed;
    width: 100%;
    margin-bottom: 1em;
    border-color: var(--secondary-colour);
    a.navbar-brand {
        color: var(--secondary-colour);
    }
    a.navbar-brand:hover {
        color: var(--tertiary-colour)
    }
    ul.nav {
        li {
            a {
                color: var(--secondary-colour);
                background-color: var(--primary-colour);
                border-radius: 10px;
                margin-left: 1em;
                transition: background-color 0.3s ease;
            }

            a:hover {
                color: var(--primary-colour);
                background-color: var(--secondary-colour);
                transition: background-color 0.3s ease;
            }
        }
    }
}

.buttons {
    #headl, #armsl, #torsol, #legsl {
        width: 7em;
        background: rgba($color: #e2e2e2, $alpha: 1.0);
        text-decoration: none;
        margin-right: 1em;
        color: #000;
    }
    #headr, #armsr, #torsor, #legsr {
        width: 7em;
        background: rgba($color: #e2e2e2, $alpha: 1.0);
        text-decoration: none;
        margin-left: 1em;
        color: #000;
    }
    #generate-pattern {
        width: 19em;
        color: #000;
    }
    #share-btn {
        width: 19em;
        background-color: rgb(86, 172, 83);
    }
    #back-btn {
        width: 19em;
        color: #000;
    }
}
.index-page {
    #scrsh {
        color: var(--secondary-colour);
        background-color: var(--primary-colour);
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 10%;
        transition: background-color 0.3s ease;
    }
    #scrsh:hover {
        background-color: var(--secondary-colour);
        color: var(--primary-colour);
        transition: background-color 0.3s ease;
    }
    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: 1em;
    width: 21em;
    padding: 0.1em 1em 1em 1em;
    color: white;
    .buttons {
        #headl, #armsl, #torsol, #legsl {
            width: 7em;
            background: rgba($color: #e2e2e2, $alpha: 1.0);
            text-decoration: none;
            margin-right: 1em;
            color: var(--secondary-colour);
            background-color: var(--primary-colour);
            transition: background-color 0.3s ease;
        }
        #headr, #armsr, #torsor, #legsr {
            width: 7em;
            background: rgba($color: #e2e2e2, $alpha: 1.0);
            text-decoration: none;
            margin-left: 1em;
            color: var(--secondary-colour);
            background-color: var(--primary-colour);
            transition: background-color 0.3s ease;
        }
        #generate-pattern {
            width: 19em;
            color: var(--secondary-colour);
            background-color: var(--primary-colour);
            transition: background-color 0.3s ease;
        }
        #headl:hover, #armsl:hover, #torsol:hover, #legsl:hover,
        #headr:hover, #armsr:hover, #torsor:hover, #legsr:hover, 
        #generate-pattern:hover {
            background-color: var(--secondary-colour);
            color: var(--primary-colour);
            transition: background-color 0.3s ease;
        }
    }
    .slider {
        background: var(--secondary-colour);
        // color: var(--primary-colour);
        transition: background-color 0.3s ease;
    }
}

.hinput{
    display: none;
}

.row {
    .col-lg-8 {
        h1 {
            background-color: rgb(86, 172, 83);
            padding: 3vh;
            border-radius: 5px;
            margin-top: 2.5em;
        }
        .lead {
            position: absolute;
            // margin-top: 1em;
            top: -2em;
            left: 1em;
            font-size: 30px;
        }
    }
}

.options {
    float: right;
    position: absolute;
    top: 7.5em;
    right: 2em;;
    padding: 0em;
    a[href="/toys"] {
        background-color: #616161;
        width: 2em;
        height: 2em;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 1em 2em 1em 2em;
        border-radius: 2em;
        font-size: 20px;
        box-shadow: 5px 5px 20px -5px #000000;
    }
}

.details {
    float: left;
    left: 1em;
    // top: -4em;
    position: absolute;
    width: 60em;
    padding-left: 1em;
    border-radius: 2em;
}

.media {
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
    margin-bottom: 1em;
    // max-width: 80em;
    .username {
        font-size: 1.4em;
        height: 0.1em;
        font-weight: 700;
        padding: 1vh;
        margin-left: 0;
        // float: left;
        color: rgb(0, 0, 0);
    }

    .time{
        padding: 1vh;
    }

    .desc{
        padding-top: 0.5em;
    }
}


p{
    overflow-wrap: break-word;
    max-width: 18em;
    min-width: 10em;
}

.rate-buttons{
    // margin-top: 2em;
    margin-right: 1em;
    margin-left:1em;
    // width: 5em;
}
.Ratings{
    position: absolute;
    top: 36em;
    margin-bottom: 7em;
}
.rating-form {
    display: flex;
    // border: 1px solid black;
    height: 20vh;
    padding-top: 1em;
    margin-bottom: 1em;
        .rating_description {
            width: 200%;
            margin-left: 1em;
        }
        .rating_value {
            width: 20%;
            right: 1em;
            float: right;
            position: absolute;
        }
}

.submit-button {
    margin-bottom: 1em;
	box-shadow: 5px 5px 20px -5px #4b7e44;
	background-color:#55b65a;
	border-radius:10px;
	// display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	padding:11px 43px;
    text-decoration:none;
    // float: right;
    position: absolute;
    right: 1.5em;
    width: 90%;
    margin-top: 5em;
}
.submit-button:hover {
	background-color:#50a754;
}
// .submit-button:active {
// 	// position:relative;
// 	// top:1px;
// }

.edit-btn{
    margin-right: 0.5em;
}

.rate-button {
    // display: inline-block;
    margin-bottom: 1em;
    // margin-right: -5em;
	// box-shadow: 5px 5px 20px -5px #4b7e44;
	background-color:#55b65a;
	// border-radius:10px;
	// display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:1em;
	// padding:11px 43px;
    text-decoration:none;
    // margin-bottom:5em;
    // position: absolute;
    // right: 1em;
    float: right;
    // margin-top: 5em;
}
.rate-button:hover {
	background-color:#50a754;
}
.rate-button:active {
	position:relative;
	top:1px;
}

.ed-button {
    // display: inline-block;
    margin-bottom: 1em;
	// box-shadow: 5px 5px 20px -5px #4b7e44;
	background-color:#55b65a;
	// border-radius:10px;
	// display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:1em;
	// padding:11px 43px;
    text-decoration:none;
    // margin-bottom:5em;
    // position: absolute;
    // right: 1em;
    float: right;
    // margin-top: 5em;
}
.ed-button:hover {
	background-color:#50a754;
}
.ed-button:active {
	position:relative;
	top:1px;
}

.toy-index {
    padding-top: 2rem;
    a {
        text-decoration: none;
        // color: var(--secondary-colour);
    }
    a:hover {
        color: var(--secondary-colour);
    }
    .toy-card {
        background-color: var(--primary-colour);
        color: var(--secondary-colour);
        border-radius: 2em;
        padding: 20px;
        width: 28%;
        display: inline-block;
        margin: 1em;
        text-align: center;
    }

    .create-plushie-button-container {
        width: 100%;
        height: 5em;
        margin: auto;
        text-align: center;
    }
    
    .create-plushie-button {
        text-decoration: none;
        color: var(--secondary-colour);
        background-color: var(--primary-colour);
        transition: background-color 0.3s ease;
        padding: 1em;
        font-size: 20px;
        position: absolute;
        border-radius: 1em;
        margin: auto;
    }
    
    .create-plushie-button:hover {
        text-decoration: none;
        color: var(--primary-colour);
        background-color: var(--secondary-colour);
        transition: background-color 0.3s ease;
        box-shadow: none;
    }    
}


.test{
    color: white;
    mix-blend-mode: difference;
}

label{
    color: white;
    mix-blend-mode: difference;
}

hr{
    color: white;
    mix-blend-mode: difference;
}

.PlushImg{
    width: 10em;
    height: 10em;
}
.tray {
    width: 100%;
    height: 50px;
    position: relative;
    overflow-x: hidden;
}
.tray__slide {
    position: fixed;
    display: flex;
    left: 0;
  /*   transform: translateX(-50%);
    animation: wheelin 1s 2s ease-in-out forwards; */
}
.tray__swatch {
    transition: 0.1s ease-in;
    height: 50px;
    min-width: 50px;
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}
.tray__swatch:nth-child(5n+5) {
    margin-right: 20px;
}

.controls {
    position: fixed;
    bottom: 40px;
    width: 100%;
}

.edit_ratings{
    background-color: rgba(0,0,0,0.7);
    top: 35%;
    bottom: 35%;
    left: 20%;
    right: 20%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 70em;
    padding: 3em;
    padding-top: 1.5em;
    border-radius: 2em;
    border-width: 5em;
}

.user-form {
    h2 {
        color: var(--secondary-colour);
    }
    .sign-up-buttons {
        display: inline-block;
        input {
            background-color: var(--secondary-colour);
            color: var(--primary-colour);
            border-color: var(--primary-colour);
            padding: 1em 2em 1em 2em;
            border-radius: 0.5em;
            transition: background-color 0.3s ease;
        }
    
        input:hover {
            background-color: var(--primary-colour);
            color: var(--secondary-colour);
            border-color: var(--secondary-colour);
            transition: background-color 0.3s ease;
        }
        
        .right {
            display: inline-block;
        }

        .log-in-btn a {
            text-decoration: none;
            border: 1px solid var(--secondary-colour);
            margin-left: 2em;
            padding: 1em 2em 1em 2em;
            background-color: var(--primary-colour);
            color: var(--secondary-colour);
            border-radius: 0.5em;
            transition: background-color 0.3s ease;
        }
    
        .log-in-btn a:hover {
            text-decoration: none;
            background-color: var(--secondary-colour);
            border-color: var(--primary-colour);
            color: var(--primary-colour);
            transition: background-color 0.3s ease;
        }
    }
}

.sign-up-btn, .forgot-password-btn {
    display: inline-block;
    // margin-left: auto;
    // right: 0;
    a {
        color: var(--secondary-colour);
        text-decoration: none;
        text-align: center;
        border: 1px solid var(--secondary-colour);
        margin-left: 2em;
        padding: 1em 2em 1em 2em;
        background-color: var(--primary-colour);
        color: var(--secondary-colour);
        border-radius: 0.5em;
        transition: background-color 0.3s ease;
        width: 9em;
    }
    a:hover {
        color: var(--primary-colour);
        text-decoration: none;
        text-decoration: none;
        background-color: var(--secondary-colour);
        border-color: var(--primary-colour);
        color: var(--primary-colour);
        transition: background-color 0.3s ease;
    }
}

.forgot-password-btn {
    a {
        width: 15em;
    }
}


*{
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}