// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.shapeHeading{
    text-align: center;
    page-break-before: always;
}

.center-image{
    text-align: center;
}

.toyname{
    font-size: 50px; 
    color: darkblue; 
    text-align: center;
}

.created-by{
    text-align: right;
}

.PlushImg{
    border-style: solid;
}

.PatternImg{
    border-style: solid;
}