<div class="upload-controls-container">
    <div class="index-page">
        <%= render 'form', l_leg_model: @l_leg_model %>

        <hr>
        <%= button_to 'Back', pages_upload_model_path, method: :get, :id => "back-btn" %>
    </div>
</div>
