<footer class="footer-distributed navbar-fixed-bottom">
    <div class="footer-right">
        <a href="https://web.facebook.com/Wish-Upon-a-Plush-114695150364607"  target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/Wish_Upon_Plush"  target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/COS301-SE-2020/Plushie-Designer" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <%= link_to "User Manual", "https://drive.google.com/file/d/1EPGDxy4nsSFeQx1w7Ks1VKytvmdF7ns0/view?usp=sharing", target: :_blank %>
        </p>
        <p> </p>
    </div>
</footer>