<footer class="footer-distributed navbar-fixed-bottom">
    <div class="footer-right">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/COS301-SE-2020/Plushie-Designer" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <%= link_to "Contact Us", pages_contact_path, class: "page-scroll" %>
            |
            <%= link_to "About Us", pages_about_path, class: "page-scroll"  %>
        </p>
        <p> </p>
    </div>
</footer>